name: build-and-test

on:
  - push
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.9]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
          pip install poetry
          make install
    - name: PyTest
      run: |
          #pip install pytest
          #pip install pytest-cov
          make start-tests

    - name: Run flake8
      run: |
        pip install flake8
        make lint
    - name: Run pytest
      run: |
        make test-coverage

    - name: Test & publish code coverage
      uses: paambaati/codeclimate-action@v3.0.0
      env:
        CC_TEST_REPORTER_ID: ${{secrets.CC_TEST_REPORTER_ID}}
