name: build-and-test

on:
  push:
    branches: [ "main" ]
 

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
 #   - name: Lint with flake8
 #       run: |
 #         flake8

 #   - name: Test with pytest
 #      run: |
 #         pytest
      
  
